@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


/*PANTALLA DE CARGA*/
#loadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingOverlay img {
    width: 200px;
    height: 200px;
}


.bubble-container {
    position: absolute;
    bottom: -1865px;
    left: 0px;
    width: 350px;
    height: 325vh;
    /* Establecemos la altura de 300px para las burbujas */
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
    /* Ocultamos el desbordamiento vertical de las burbujas */
}

.bubble {
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #580909;
    animation: moveUp 10s linear infinite;
}

@keyframes moveUp {
    0% {
        transform: translateY(0%);
        /* Inicio en la posición de 0% */
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        /* Desplazamiento hacia arriba */
        opacity: 1;
    }
}

/* Estilos para pantallas grandes */
.bubble{
    /* Estilos para burbujas en pantallas grandes */
  }
  
  /* Media Query para pantallas más pequeñas */
  @media (max-width: 768px) {
    .bubble {
        display: none; /* Oculta las burbujas en pantallas más pequeñas */
    }
  }
  
  /* Media Query para ajustar el tamaño de las burbujas en pantallas medianas */
  @media (max-width: 1024px) {
    .bubble {
        width: 2%; /* Cambia el tamaño de las burbujas en pantallas medianas */
        height: 2%;
    }
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../img/20191_alfonsoUgarte.png');
    background-size: cover;
    z-index: -1;
}

/* Nav styles (related to HTML) */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
    width: 45px; /* Ancho deseado */
    height: 50px; /* Alto deseado */
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}

/* Hero container styles (related to HTML) */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

/* Knowledge styles (related to HTML) */

.knowledge {
    background-color: #ffffff;
    background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #ffffff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    text-align: center;
}

.knowledge__picture {
    max-width: 500px;
}

.knowledge__paragraph {
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img {
    width: 100%;
    display: block;
}

/* Testimony styles (related to HTML) */


.subtitle {
    margin-bottom: 30px; /* Añade un margen inferior al título */
    
}
.testimony {
    background-color: rgb(255, 255, 255);
  }
  
  .testimony__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
    
  }
  
  .testimony__body {
    display: grid;
  grid-template-columns: auto 1fr; /* Cambiado de 1fr max-content a auto 1fr */
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  }
  
  .testimony__body--show {
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
  }
  
  .testimony__img {
    width: 100%;
    height: auto;
   
  }
   .testimony__picture {
      max-width: 100%;
      height: auto;
      grid-column: 3/4;
    }
  @media (max-width: 768px) {
    .testimony__container {
      grid-template-columns: 1fr;
      gap: 1em;
    }
  
    .testimony__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-column: 1/2;
      gap: 1em;
      width: 100%;
    }
  
   
  }
  


@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #504d4d;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;
    }
    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }


}

.map-container {
    width: 100%;
    max-width: 1295px; /* Set a maximum width to prevent the map from becoming too large on wide screens */
    margin: 0 auto;
    height: 200px;
  }


/* Footer styles (related to HTML) */

iframe {
    width: 100%;
    height: auto;
}

.pie-pagina{
    width: 100%;
    background-color: #770000;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #770000;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #9c0d0d;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}